/*Global attributes in root*/
.root {
    -fx-font-family: "  Neue";

    /*colors from color scheme generator*/
    color1: #F15025;
    /*color2: ;*/
    color3: #E6E8E6;
    color4: #CED0CE;
    color5: #FFFFFF;
    black: #191919;
    white: #FFFFFF;

    -fx-base: color3;
    -fx-background: white;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.back:hover {
    -fx-text-fill: cornflowerblue;
    -fx-scale-y: 1.1;
}

.back:pressed {
    -fx-text-fill: #235587;
}

.back {
    -fx-font-size: 14px;
}

.tile {
    /*for custom title styles in the home scene*/
}

.customButton {

}

/* For invalid text-fields within forms */
.invalid {
    -fx-background-color: #e6b3b3;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}


