/*Global attributes in root*/
.root {
    /* Global Colors */
    color1: #163a67; /* for text */
    color2: #F0EFEC;
    color3: #A3C0DD;
    color4: rgba(223, 245, 255, 0.35);
    color5: #A2B5C2;
    black: #020812;
    white: #f5f5f5; /* smoke white */
    invalid: #e6b3b3;

    /*hyperlink-clicked: ;*/

    /*button-highlight: #0;*/
    -fx-base: color2;

    -fx-border-color: black;
    -fx-font-family: "  Neue";
    /*-fx-font: ;*/
    /*-fx-font-size: ;*/
    /*-fx-font-style: ;*/
    /*-fx-font-weight: ;*/
}

.title {
    -fx-text-fill: color1;
    -fx-font-weight: bold;
    -fx-font-size: 28px;
}

.back {
    /*-fx-text-fill: color4;*/
    -fx-font-size: 14px;
}

.back:hover {
    -fx-text-fill: cornflowerblue;
    -fx-scale-y: 1.1;
}

.back:pressed {
    -fx-text-fill: #235587;
}

.listViewTitles {
    -fx-font-style: italic;
    -fx-font-size: 16px;
}

.customButton {

}

/* For invalid text-fields within forms */
.invalid {
    -fx-background-color: invalid;
    -fx-border-color: red;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}


.redo, .undo {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30,30;
}

.redo {
    -fx-background-image: url("../image/redo.png");
}

.undo {
    -fx-background-image: url("../image/undo.png");
}

.redo:hover, .undo:hover {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.redo:pressed, .undo:pressed {
    -fx-scale-x: 0.65;
    -fx-scale-y: 0.65;
}


