Andrew Spearman <asp79@uclive.ac.nz>
Patrick Laffey <pla55@uclive.ac.nz>
Hayden Taylor <hta55@uclive.ac.nz>
Maree Palmer <mpa588@uclive.ac.nz>
Adam Ross <adr39@uclive.ac.nz>
Joshua Meneghini <jam357@uclive.ac.nz>
Kyle Lamb <kla98@uclive.ac.nz>
Aidan Smith <asm142@uclive.ac.nz>
